# Mongo database for store primary data
# example url: mongodb://[username:password@]host1[:port1][,...hostN[:portN]][/[defaultauthdb][?options]]
# you can also use the atlas version
MONGODB_URL=your mongodb url

# SERVER PORT
PORT=3000

# SECRET API
SECRET_API=keepitsecret