# we dont need them
dist
node_modules
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem
*.tsbuildinfo
yarn.lock
pnpm-lock.yaml
package-lock.json
.env

# database ignore
prisma/generated
database/*
!database/*.json

# ignore some languages
languages/*
!languages/id.json
!languages/en.json

#my private files
werewolf*.ts
test*.js
test*.ts