{
  "arrowParens": "always",
  "endOfLine": "auto",
  "printWidth": 333,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["src/types/**/*.ts", "src/commands/**/*.ts", "src/utils/**/*.ts"],
      "options": {
        "printWidth": 150
      }
    }
  ]
}
